body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    background-color: antiquewhite;
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}

/*Header*/
header {
    width: 100%;
    height: 175px;
    background-color: #e6d9c0;
    /* return this if you want to make the header in fixed position at the top of the screen
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    */
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

img {
    width: auto;
    height: 150px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    padding: 10px 30px;
}

ul a:hover {
    background-color: lightgoldenrodyellow;
    transition: background-color 0.3s ease;
}

/*Home Container*/
.home-container {
    background-image: url(./images/welcome\ image\ sample.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-family: "Yesteryear", sans-serif;
    font-size: 60px;
}

.welcome-section p {
    font-family: "Outfit", sans-serif;
    font-size: 25px;
}

.welcome::before {
    content: "👜 ";
}

.welcome::after {
    content: " 👜";
}

.welcome-section {
    background-color: rgba(0, 0, 0, 0.60);
    width: 700px;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*about-us container*/
.about-us-container {
    width: 100%;
    padding: 10px;
    margin: 100px auto;
}

.about-us-text {
    max-width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.emp-img {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* controls whether the items are allowed to move onto multiple lines. */
    gap: 10px;
}

.e-img1, .e-img2, .e-img3 {
    height: 250px;
    width: auto;
}

.e-img1, .e-img2 {
    order: 0; /* Ensure decorations appear first */
}

.e-img3 {
    order: 1; /* Ensure banner appears second */
}

/*products-container*/
.products {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 100px auto;

}

.products-container {
    width: 100%;
    max-width: 1300px; /* Move this later to media query Limit the maximum width */
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;/*Align the items at the start of the container’s flex direction*/
    align-items: center;
    flex-direction: row;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    scroll-behavior: smooth;
}

.product-item {
    min-width: 250px; /* Move this later to media query Limit the minimum width */
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    
}

.product-item img {
    border-radius: 10px;
}

.product-item:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s ease;
}

/*testimonials*/
.testimonials-container {
    width: 100%;
    text-align: center;
    margin: 100px auto;
}

.testimonials-container div {
    display: inline-block;
}

.customer-testimonial {
    width: 400px;
    margin: 20px;
    padding: 10px;
}

/*blogs*/
.blogs-container {
    width: 100%;
    text-align: center;
    margin: 100px auto;
}

.blog-content {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 10px;
    background-color: seashell;
    vertical-align: top;
}

.blog-content:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s ease;
}

.blog-content img {
    width: 100%;
    object-fit: cover;
}

/*contact*/
hr {
    width: 95%;
    border: 2px solid rgb(99, 66, 17);
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.contact {
    width: 400px;
    height: auto;
    background-color: ivory;
    padding: 25px;
}
.address {
    width: 400px;
    height: auto;
    background-color: whitesmoke;
    padding: 25px;
}

/* Home Button */
.home-btn {
  position: fixed;      /* stays in the same place even on scroll */
  top: 50px;         /* distance from bottom */
  right: 10px;          /* distance from right */
  width: 50px;          /* size of button */
  height: 50px;
  background-color: #FF6600; /* standout color */
  color: white;
  border: none;
  border-radius: 50%;    /* makes it circular */
  text-align: center;
  font-size: 24px;
  line-height: 50px;     /* center the emoji vertically */
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;         /* stays on top of other elements */
  transition: 0.5s;
}

.home-btn:hover {
  background-color: #e55b00;
  transform: scale(1.1);
  transition: 0.5s;
}


/*mobile and tablet*/

/*mobile query*/
/*header*/
@media (max-width: 450px) {

* { /*helps show which elemnt cross the border*/
  outline: 1px solid red;
}


header {
    width: 100%;
    height: 120px;
    background-color: #e6d9c0;
}

.header-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
}

img {
    width: auto;
    height: 78px;
}

.site-nav {
    width: 100%;
    height: 40px; 
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 3px;
}

ul a {
    font-size: 10px;
    padding: 4px 10px;
}

/*home container*/


}



/* initial CSS

html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(120deg, #fbe5e7, #ffd6b6);
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    display: flex;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: ivory;
    overflow: visible;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    flex-wrap: wrap;
}
.logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 30px;
    overflow: hidden;
}
.logo a {
    display: block;
    height: 150px;
    overflow: hidden;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0 5px;
}
.home-container {
    text-align: center;
    background-image: url(./images/welcome\ image\ sample.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    overflow: hidden;
}
.welcome {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.welcome::before {
    content: "👜 ";
}
.welcome::after {
    content: " 👜";
}
.welcome-section{
    background-color: black;
    color: white;
    border: 3px solid whitesmoke;
    width: auto;
    height: auto;
}
.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: auto;
    width: 90%;
    height: auto;
    border: 3px solid rgb(99, 66, 17);
}
.about-us-text {
    max-width: 700px;
}
.prods {
    text-align: center;
}
.products-container {
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-item {
    display: inline-block;
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px;
}
.product-item:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s ease;
}
.product-image {
    width: 350px;
    height: 250px;
}
.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 85%;
    
}
.customer-testimonial {
    display: inline-block;
    width: 250px;
    height: auto;
}
.blogs-container {
    text-align: center;
    margin: auto;
    margin-bottom: 150px;
    padding: auto;
    width: 90%;
    height: auto;
    margin-bottom: 150px;
}
.blog-content {
    display: inline-block;
    width: 250px;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
}
hr {
    width: 95%;
    border: 2px solid rgb(99, 66, 17);
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.contact {
    width: 400px;
    height: auto;
    background-color: ivory;
    padding: 25px;
}
.address {
    width: 400px;
    height: auto;
    background-color: whitesmoke;
    padding: 25px;
}

*/